#okta-sign-in.auth-container .o-form-head {
  color: #3747ac;
}

#okta-sign-in.auth-container .button-primary {
  background: #3747ac;
}

#okta-sign-in.auth-container .button-primary:hover {
  background: #3750ac;
}

#okta-sign-in.auth-container .button-primary:active {
  background: #3750ac;
}

#okta-sign-in.auth-container a.link:link {
  color: #3750ac;
}
